{% extends 'layout.html.twig' %}

{% block page_title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <!-- blog-details-area -->
    <section class="blog-details-area pt-80 pb-100">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-xl-9 col-lg-8">
                    <div class="blog-details-wrap">
                        <ul class="tgbanner__content-meta list-wrap">
                            {% for category in post.categories %}
                                <li class="category"><a
                                            href="{{ path('default_category', { 'slug' : category.slug }) }}">
                                        {{ category.name }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li><span class="by">Rédigé par </span><a href="blog.html">{{ post.user.firstName }} {{ post
                                    .user
                                    .familyName }}</a></li>
                            <li><span class="by">Publié le </span>{{ post.publishedAt | date('d/m/y H:i') }}</li>
                        </ul>
                        <h2 class="title">{{ post.title }}</h2>
                        <div class="blog-details-thumb">
                            <img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="{{ post.title }}" class="w-100">
                        </div>
                        <div class="blog-details-content">
                            {{ post.content | raw }}
                        </div>
                        <div class="blog-details-bottom">
                            <div class="row align-items-baseline">
                                <div class="col-xl-6 col-md-7">
                                    <div class="blog-details-tags">
                                        <ul class="list-wrap mb-0">
                                            {% for category in post.categories %}
                                                <li><a href="{{ path('default_category', { 'slug' : category.slug })
                                                    }}">
                                                        {{ category.name }}
                                                    </a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-5">
                                    <div class="blog-details-share">
                                        <h6 class="share-title">Share Now:</h6>
                                        <ul class="list-wrap mb-0">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SIDEBAR -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <aside class="blog-sidebar">
                        <div class="widget sidebar-widget">
                            <div class="tgAbout-me">
                                <div class="tgAbout-thumb">
                                    <img src="assets/img/others/about_me.png" alt="me">
                                </div>
                                <div class="tgAbout-info">
                                    <p class="intro">Hi there, I’m <span>{{ post.user.firstName }} {{ post.user.familyName }}</span></p>
                                    <span class="designation">Content Writer</span>
                                </div>
                                <div class="tgAbout-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="widget sidebar-widget widget_categories">
                            <h4 class="widget-title">Trending Category</h4>
                            <ul class="list-wrap">
                                <li>
                                    <div class="thumb"><a href="blog.html"><img
                                                    src="assets/img/category/side_category01.jpg" alt="img"></a></div>
                                    <a href="blog.html">technology</a>
                                    <span class="float-right">12</span>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-details-area-end -->
{% endblock %}



